body {
  font-family: calibri,sans-serif;
  color: darkslategray;
  text-align: center;
  background-image: url('postbox.jpg');
  background-size: cover;;
  background-repeat: no-repeat;
}
h1,h2,h3 {
  font-weight: 400;
}
#signIn,#signUp {
  background-color: rgba(0,0,0,0.7);
  padding: 2em;
  color: white;
  width: 50vw;
  border-radius: 10px;
}
#signchange {
  display:inline-block;
  background-color:rgba(0,0,0,0.7);
  padding:0.5em;
  cursor:pointer;
  color:white
}
input[type=text], input[type=password], input[type=email] {
  padding: 0.5em;
  color : darkslategray;
  text-align: center;
  width:15em;
  border: 2px solid darkslategray;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
  -moz-transition : width 0.5s ease-in-out;
  -webkit-transition : width 0.5s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  width: 30em;
  border: 2px solid #00FFFF;

}
input[type=submit] {
  background-color: #32CD32;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.2em;
}
.error {
  color: red;
}
